.button-container {
    display: flex;
    justify-content: center;
}

.sign_up_bttn {
    width: 15.625rem;
    height: 5rem;
    color: #90CAF9;
    background-color: #FFFFFF;
    border-radius: 0.9375rem;
    border: 0.3rem solid #90CAF9;
    font-size: 2rem;
    font-style:normal;
    font-weight: 200;
    margin-left: 160rem;
    margin-top: 3rem;
    cursor: pointer;
}

.sign_up_bttn:hover {
    background-color: #90CAF9;
    color: #F5F5F5;
}